<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aifeng.ddrent.core.dao.mapper.house.HouseEstateLabelMapper" >
  <resultMap id="BaseResultMap" type="com.aifeng.ddrent.core.dao.model.house.HouseEstateLabelDO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ESTATE_ID" property="estateId" jdbcType="INTEGER" />
    <result column="LABEL_ID" property="labelId" jdbcType="INTEGER" />
    <result column="CREATOR_" property="creator" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>