<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aifeng.ddrent.core.dao.mapper.auth.UserTokenMapper" >
  <resultMap id="BaseResultMap" type="com.aifeng.ddrent.core.dao.model.auth.UserTokenDO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR" />
    <result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR" />
    <result column="USER_ROLES" property="userRoles" jdbcType="VARCHAR" />
    <result column="AUTH_TYPE" property="authType" jdbcType="VARCHAR" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="EXTERNAL_ID" property="externalId" jdbcType="VARCHAR" />
    <result column="TOKEN_TYPE" property="tokenType" jdbcType="INTEGER" />
  </resultMap>
</mapper>