<configuration debug="false" scan="false" scanPeriod="300 seconds">

	<springProperty scope="context" name="appname" source="appname" />
	<property name="basedir" value="/usr/log/applog" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <encrypt>true</encrypt>
			<encryptKeys>cardno cardNumber bankacct id_no bind_mob</encryptKeys>
			<partialEncryptKeys>cardno|64 cardNumber|64 bankacct|64 id_no|11 bind_mob|34</partialEncryptKeys> -->
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%thread] %logger - %msg%n</pattern>  
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="bizlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${basedir}/${appname}.log</file>
		<append>true</append>
		<encoder>
			<!-- <encrypt>true</encrypt>
			<encryptKeys>cardno cardNumber bankacct id_no bind_mob</encryptKeys>
			<partialEncryptKeys>cardno|64 cardNumber|64 bankacct|64 id_no|11 bind_mob|34</partialEncryptKeys> -->
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%thread] %logger - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${basedir}/${appname}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<maxFileSize>150MB</maxFileSize>
		</rollingPolicy>
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter> -->
	</appender>
	
	<logger name="com.baidu.disconf" level="INFO" />  
	
	<!-- <logger name="org.apache.ibatis" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="java.sql" level="debug">
		<appender-ref ref="STDOUT"/>
	</logger> -->
	
	<springProfile name="!online">
		<logger name="org.springframework" level="INFO" />  
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	
	<springProfile name="online">
		<logger name="org.springframework" level="INFO" />  
		<root level="INFO">
			<appender-ref ref="bizlogFile" />
		</root>
	</springProfile>
</configuration>