<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aifeng.ddrent.core.dao.mapper.label.LabelDOMapper" >
  <resultMap id="BaseResultMap" type="com.aifeng.ddrent.core.dao.model.label.LabelDO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="LABEL_TYPE" property="labelType" jdbcType="VARCHAR" />
    <result column="SORT_CODE" property="sortCode" jdbcType="INTEGER" />
    <result column="DESCRIPTION_" property="description" jdbcType="VARCHAR" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="INTEGER" />
    <result column="CREATE_TYPE" property="createType" jdbcType="VARCHAR" />
    <result column="CREATORT_ID" property="creatortId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>