<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aifeng.ddrent.core.dao.mapper.auth.RoleMapper">
  <resultMap id="BaseResultMap" type="com.aifeng.ddrent.core.dao.model.auth.RoleDO">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_LEVEL" jdbcType="INTEGER" property="roleLevel" />
    <result column="PRE_ROLE" jdbcType="INTEGER" property="preRole" />
    <result column="ROLE_STRUCTURE" jdbcType="VARCHAR" property="roleStructure" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
  </resultMap>
</mapper>