<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aifeng.ddrent.core.dao.mapper.user.UserContactRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.aifeng.ddrent.core.dao.model.user.UserContactRecordsDO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CONTACT_ORIGIN_ID" property="contactOriginId" jdbcType="INTEGER" />
    <result column="CONTACT_TARGET_ID" property="contactTargetId" jdbcType="INTEGER" />
    <result column="CONTACT_TYPE" property="contactType" jdbcType="VARCHAR" />
    <result column="IS_APPROVED" property="isApproved" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="SNAPSHOT_" property="snapshot" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>